name: Flutter Null Safety Architecture CICD

on: 
  push:
    branches:
    - main
    - develop
    - 'feat/**'
    - 'hotfix/**'
  pull_request:
    branches:
    - main
    - develop

jobs:
    cicd:
      runs-on: macos-latest
      steps:
        - name: Dump GitHub context
          env:
            GITHUB_CONTEXT: ${{ toJSON(github) }}
          run: echo "$GITHUB_CONTEXT"
        - name: Dump secrec context
          env:
            SECREC_CONTEXT: ${{toJSON(secrets)}}
          run:  echo "$SECREC_CONTEXT"
        - name: Dump job context
          env:
            JOB_CONTEXT: ${{ toJSON(job) }}
          run: echo "$JOB_CONTEXT"
        - name: Dump steps context
          env:
            STEPS_CONTEXT: ${{ toJSON(steps) }}
          run: echo "$STEPS_CONTEXT"
        - name: Dump runner context
          env:
            RUNNER_CONTEXT: ${{ toJSON(runner) }}
          run: echo "$RUNNER_CONTEXT"
        - name: Dump strategy context
          env:
            STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
          run: echo "$STRATEGY_CONTEXT"
        - name: Dump matrix context
          env:
            MATRIX_CONTEXT: ${{ toJSON(matrix) }}
          run: echo "$MATRIX_CONTEXT"
    # test:
    #   runs-on: macos-latest
    #   steps:
    #     - uses: actions/checkout@v2
    #     - name: Setup  Java SDK
    #       uses: actions/setup-java@v1
    #       with:
    #         java-version: '12.x'
    #     - name: Setup Flutter Framework
    #       uses: subosito/flutter-action@v1
    #       with:
    #         flutter-version: '2.0.1'
    #     - run: flutter clean
    #     - run: flutter packages get
    #     - run: make unit_test
    # build:
    #   runs-on: macos-latest
    #   needs: test
    #   steps:
    #     - run: flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi
    #     - uses: actions/upload-artifact@v1
    #       with:
    #         name: app
    #         path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
        