name: Flutter Null Safety Architecture CICD

on: 
  push:
    branches:
    - main
    - develop
    - 'feat/**'
    - 'hotfix/**'
  pull_request:
    branches:
    - main
    - develop

jobs:
    test:
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: '12.x'
        - uses: subosito/flutter-action@v1
          with:
            flutter-version: '2.0.1'
        - run: flutter clean
        - run: flutter packages get
        - run: make unit_test
        - run: flutter build apk --target-platform android-arm,android-arm64,android-x64 --split-per-abi
        - uses: actions/upload-artifact@v1
          with:
            name: app
            path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
        